*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

h4{
	color: steelblue;
	text-align: center;
}

button{
	margin: 20px 8px;
}

button:hover{
	background: steelblue !important;
}

textarea{
	padding: 10px;
	border-color: steelblue;
	resize: none;
    overflow-y: scroll;
}

.divarea{
	widows: 100%;
	min-height: 200px;   /*min height ka box ko paw nay aung*/
	max-height: 400px;     /*max height ka box ye a shee naing shone ko pyaw dar*/
    border: 1px solid steelblue;
    padding: 10px;
    text-align: justify;
    overflow-y: scroll;

    resize:vertical;
}

.divarea:focus{
	outline: none;
}