*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	height: 100vh;
	background: #888;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 600px;
	background: #fff;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

	display: flex;
}

.dotbox{
	width: 10%;
}

.dot{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #bbb;
	opacity: .5;

	margin: 10px auto;
}

.dot.active{
  opacity: 1;
}

.dot.done{
	background: green;
}


#form{
	width: 90%;
	border-left: 2px solid #eee;
	padding: 50px;
}

h1{
	text-align: center;
}

.page{
	display: none;
}

input{
	width: 100%;
	font-size: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 0;
}

input:focus{
	outline: none;
}

input.invalid{
	border: 1px dotted indianred;
}

.d-flex{
	display: flex;
	justify-content: end;
}

.btn{
	background: steelblue;
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-left: 20px;
}

.btn:hover{
	opacity: 0.8;
}

#prevbtn{
	background: #bbb;
}

#result-container{
	display: none;

	width: 90%;
}

#result-container ul li{
	list-style: none;
	padding: 3px;
}

.submit-btn{

	width: 100%;
	background: steelblue;
	color: #fff;
	font-size: 20px;
	border: none;
	padding: 5px 0;
	cursor: pointer;
}


